* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.nav-pills .nav-link.active {
    background-color: #ffffff !important;
}

#tabsJustified li {
    margin-top: 3px;
}
#tabsJustified li:first-child {
    margin-top: 15px;
}
#tabsJustified li .cat.active {
    background: #615EFF !important;
    height: 49px !important;
    border-radius: 10px !important;
}
#tabsJustified1 li .sub-cat.active, #tabsJustified2 li .sub-cat-sub.active, #tabsJustified3 li .sub-cat-sub.active {
    color: #615EFF !important;
    background: transparent !important;
}

#tabsJustified li a.active .black-image {
    display: none;
}

#tabsJustified li a.active .white-image {
    display:initial !important;
}

.text-font-normal {
    font-weight: normal;
    color: #200E32;
}

.text-font-500 {
    font-weight: 500;
}

.cat {
    font-size: 17px; 
    line-height: 20px;
    padding: 10px !important;
    padding-left: 18px !important;
}

.sub-cat {
    margin-left: 20px;
    font-size: 15px; 
    line-height: 18px;
    padding: 10px !important;
    padding-left: 22px !important;
}

.sub-cat-sub {
    margin-left: 55px;
    font-size: 13px; 
    line-height: 15px;
    padding: 5px !important;
    padding-left: 24px !important;
}

.lum-logo {
    width: 146px; 
    height: 57px; 
}

.sbar {
    height: 42px;
    background: #F0F1F3 !important;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.sbar-input {
    text-align: left !important;
    height: 42px;
    background: #F0F1F3 !important;
    border: none;
    outline: none;
    border-radius: 10px;
}

.sbar-input::placeholder {
    color: #B7B2BD;
}

.add-client-btn {
    width: 224px; 
    height: 49px; 
    background: #615EFF !important; 
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
}
.add-client-btn1 {
    width: 224px; 
    height: 49px; 
    color: #615EFF;
    background: transparent !important; 
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
    border: 2px solid #615EFF;
}

.box-height-240 {
    height: 240px;
}

.client-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 20px;
}

.fs-11 {
    font-size: 11px !important;
    line-height: 13px !important;
}

.fs-12 {
    font-size: 12px;
    line-height: 14px;
}

.fs-12-1 {
    font-size: 15px;
    line-height: 14px;
}

.fs-14 {
    font-size: 14px;
    line-height: 16px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
    line-height: 19px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.br-10 {
    border-radius: 10px !important;
}

.tc-grey {
    color: rgba(92, 87, 97, 0.83);
}

.tc-purple{
    color: #615EFF !important;
}

.tc-red{
    color: #E51D1D;
}

.modal-header {
    border-bottom: none !important;
    border-radius: 15px;
}

#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 4px;
    height: 4px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(97, 94, 255, 1);
}

#clients div div div div ul li {
    width: 100%;
}
.table td, .table th {
    border-top:none !important;
}
#clients div div div div ul li {
    width: 100%;
}
.tbl-csv td {
    vertical-align: middle;
}
.tbl-csv {
    min-width: 975px;
    text-align: initial;
}
.tbl-csv thead {
    background-color: #ffffff;
}



.tbl-role td{
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #DEE2E6!important;
}
.tbl-role thead td{
    border-bottom: none !important;
}
.tbl-role td:first-child {
    background: transparent;
    text-align: left !important;
    margin-left: 30px;
    border-bottom: none !important;
}
.tbl thead tr td {
    padding-left: 25px;
}
.tbl tbody tr td {
    padding: 25px;
}
.table tbody td {
    background-color: transparent;
}
.h-35 {
    height: 35px !important;
}

.dropdown-menu li div label {
    vertical-align: middle !important;
    margin-left: 5px;
}

.dropdown-menu.show {
    top:30px !important;
    height: 180px;
    border-radius: 10px;
}

.drop1.show {
    top:0px !important;
    height: 100px;
    border-radius: 10px;
}

.modal-content {
    max-height: 676px;
    width: 573px;
}

.checkbox-primary {
    width: 18.5px !important;
    height: 18.5px !important;
}
.checkbox-primary:checked:before {
    color: #615EFF !important;
    top: 0px !important;
    left: 3px !important;
    font-size: 11px !important;
}
.checkbox-primary:checked {
    border: 1.5px solid #615EFF !important;
}


.checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 5px;
    margin: 0;
    outline: none;
    transition: 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}

.checkbox-circle {
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
}

.checkbox:checked {
    border: 1px solid #44B328;
    background-color: #fff;
}


.checkbox:checked:before {
   position: absolute;
   left: 1.5px;
   top: -1.5px;
   display: block;
   content: '\2713';
   text-align: center;
   color: #44B328;
   font-family: Arial;
   font-size: 12px;
   font-weight: 800;
}



.checkbox-circle:checked:before {
    left: 3.5px !important;
    top: 1px !important;
    font-size: 12px !important;
 }




 
.checkbox1 {
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 5px;
    margin: 0;
    outline: none;
    transition: 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}

.checkbox1-circle {
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
}

.checkbox1:checked {
    border: 1px solid #615EFF;
    background-color: #fff;
}


.checkbox1:checked:before {
   position: absolute;
   left: 1.5px;
   top: -1.5px;
   display: block;
   content: '\2713';
   text-align: center;
   color: #615EFF;
   font-family: Arial;
   font-size: 12px;
   font-weight: 800;
}



.checkbox1-circle:checked:before {
    left: 3.5px !important;
    top: 1px !important;
    font-size: 12px !important;
 }
 

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #615EFF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #615EFF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.drag-drop {
    background:rgba(97, 94, 255, 0.05);
    border: 1.5px dashed rgba(97, 94, 255, 0.4);
    border-radius: 15px;
    position: relative;
}

.drag-file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}



@media screen and (max-width: 1450px) {
    .box-height-240 {
        height: 220px;
    }
    .fs-11 {
        font-size: 10px !important;
        line-height: 11.5px !important;
    }
    .fs-17 {
        font-size: 16px;
        line-height: 18px;
    }


    .sub-cat {
        font-size: 13px; 
        line-height: 16px;
        padding: 10px !important;
        padding-left: 20px !important;
    }
        
    .sub-cat-sub {
        font-size: 12px; 
        line-height: 14px;
    }

    .add-client-btn {
        width: 210px;
    }

    .client-text {
        font-size: 10px;
        line-height: 12px;
        margin-top: 16px;
    }

    .pl-5 {
        padding-left: 25px !important;
    }
    
    .mr-5 {
        margin-right: 15px !important;
    }
    
    .pl-4 {
        padding-left: 15px !important;
    }
    
    .pr-4 {
        padding-right: 15px !important;
    }
    
}

@media screen and (max-width: 1350px) {
    .client-text {
        font-size: 9.5px;
        line-height: 11px;
        margin-top: 14px;
    }
}

@media screen and (max-width: 1080px) {
    .box-height-240 {
        height: 200px;
    }

    #tabsJustified li {
        margin-top: 2px;
    }
    
    .cat {
        font-size: 13px; 
        line-height: 15px;
    }  

    .sub-cat {
        margin-left: 09px;
        font-size: 11px; 
        line-height: 13px;
    }
     
    .sub-cat-sub {
        margin-left: 24px;
        font-size: 12px; 
        line-height: 14px;
        padding-left: 22px !important;
    }

    .side-style {
        padding-left: 10px;
    }

    .add-client-btn {
        width: 190px; 
        height: 40px; 
        margin: 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .client-text {
        font-size: 7.5px;
        line-height: 9px;
        margin-top: 10px;
    }

    .col-sm-3 {
        padding: 05px !important;
    }

    .pd-inp {
        padding: 3px !important;
        padding-left: 6px !important;
        height: 31px !important;
    }
    .pd-sel {
        padding: 2px !important;
        height: 30px !important;
    }

    .fs-11 {
        font-size: 9px !important;
        line-height: 11px !important;
    }
    
    .fs-12 {
        font-size: 10px;
        line-height: 12px;
    }    

    .fs-14 {
        font-size: 12px;
        line-height: 14px;
    }

    .fs-15{
        font-size: 12px !important;
    }
    
    .fs-17 {
        font-size: 15px;
        line-height: 17px;
    }

}

@media screen and (max-width: 890px) {
    .cat {
        font-size: 13px; 
        line-height: 15px;
        padding: 10px !important;
    }
    .pd-inp {
        padding: 2px !important;
        padding-left: 4px !important;
        height: 26px !important;
    }
    .pd-sel {
        padding: 0px !important;
        height: 25px !important;
    }
    
    #tabsJustified li {
        margin-top: 0px;
    }
    
    .side-style {
        padding-left: 0px !important;
    }
    #tabsJustified li .cat.active {
        padding-right: 15px !important;
        height: 40px !important;
    }
    #tabsJustified li {
        margin-left: 0px;
        margin-top: 05px;
    }

    .checkbox-primary {
        width: 14.5px !important;
        height: 14.5px !important;
    }
    .checkbox-primary:checked:before {
        color: #615EFF !important;
        top: 0px !important;
        left: 2px !important;
        font-size: 09px !important;
    }
    .checkbox-primary:checked {
        border: 1px solid #615EFF !important;
    }

    .sub-cat {
        margin-left: 06px;
        font-size: 10px; 
        line-height: 12px;
        padding: 10px !important;
        padding-left: 12px !important;
    }
    
    .sub-cat-sub {
        margin-left: 24px;
        font-size: 10px; 
        line-height: 12px;
        padding: 5px !important;
        padding-left: 12px !important;
    }

    .img-90{
        height: 90px !important;
        width: 90px !important;
    }
    

    .add-client-btn {
        width: 155px; 
        height: 40px; 
        margin: 10px;
        font-size: 10px;
        line-height: 12px;
    }

    .sbar {
        height: 32px;
        margin-left: 15px !important;
    }
    
    .sbar-input {
        height: 32px;
    }
    
    .client-text {
        font-size: 07.5px;
        line-height: 9.5px;
        margin-top: 5px;
    }

    .box-height-240 {
        height: 180px;
    }

    #set-wid{
        width: 170px !important;
    }

    .set-img{
        height: 30px !important;
        width: 30px !important;
    }

    .p-3 {
        padding: 10px !important;
    }
    .fs-11 {
        font-size: 7px !important;
        line-height: 9px !important;
    }
    
    .fs-12 {
        font-size: 09px;
        line-height: 11px;
    }   
    
    .fs-12-1 {
        font-size: 09px;
        line-height: 11px;
    }

    .fs-14 {
        font-size: 11px;
        line-height: 13px;
    }

    .fs-15{
        font-size: 10px !important;
    }
    
    .fs-17 {
        font-size: 13px;
        line-height: 15px;
    }

    .tbl thead tr td {
        padding-left: 15px;
    }

    .tbl tbody tr td {
        padding: 15px;
    }

    .set4{
        padding-right: 12px !important;
    }

    .drag-drop1{
        height: 127px !important;
    }
    .drag-drop2{
        height: 90px !important;
    }

    .main-row{
        height: 40px !important;
    }

    .bton{
        width: 75px !important;
        height: 35px !important;
        background: #615EFF;
        color: #200E32;
        border-radius:9px;
        color: #FFFFFF;
        font-size: 14px;
    }


}


.red{
	opacity: 0.5;
	}



    .bton{
        width: 114px;
        height: 45px;
        background: #615EFF;
        color: #200E32;
        border-radius:9px;
        color: #FFFFFF;
        font-size: 14px;
    }
    
    .drag-drop1 {
        background: transparent;
        border: 1px solid rgba(196, 196, 196, 0.53);
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;
    }
    .drag-drop2 {
        background: transparent;
        border: 1px solid rgba(196, 196, 196, 0.53);
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;
    }
    
    .btoon{
        border: 2px solid black;
        background-color: transparent;
        color: black;
        padding: 14px 28px;
        cursor: pointer;
    }
        
    .info {
        border-color: #615EFF;
        color:#615EFF;
        border-radius: 9px;
        font-size:11px;
        display:inline-block;
        height:40px;
        width:100%;
        background-color: transparent;
    }
    